{# app/Resources/TwigBundle/views/Exception/error403.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {% block menu %}{% endblock %}
    <h1>Acceso Restringido</h1>

    <p>No tiene permiso para acceder a este recurso. Volver a pantalla de <a href="{{path('fos_user_security_login')}}">login</a>.</p>


{% endblock %}
