{% trans_default_domain 'FOSUserBundle' %}

<div class="col-md-8">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input class="btn btn-success"  type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
    </div>
{{ form_end(form) }}
